.no-tax-form {
  min-height: 60%;
  p {
    margin-bottom: 0;
    text-align: center;
    opacity: 0.4;
  }
  .ri-eye-close-line {
    opacity: 0.4;
    font-size: 60px;
    margin-bottom: 16px;
  }
}
.pdf-file {
  .file-label {
    flex: auto;
    cursor: pointer;
  }
  cursor: pointer;
}
.pdf-container {
  height: 100%;
  width: 100%;

  .close {
    margin: 8px 16px !important;
    float: right;
  }

  iframe {
    height: calc(100% - 48px);
    width: 100%;
  }
}
