<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      defaultHref=""
      (click)="goBack()"
      text=""
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="content topic-list-container">
    <h1 class="title">{{ topic }}</h1>
    <mat-form-field appearance="fill" class="donation-search">
      <mat-icon color="accent" matPrefix>search</mat-icon>

      <input
        matInput
        placeholder="search"
        autocomplete="off"
        (input)="term$.next($event.target.value)"
      />
    </mat-form-field>
    <ng-container *ngFor="let charity of charities">
      <ion-card class="charity-card" (click)="goToCharityDetails(charity)">
        <div class="image-container">
          <img
            [src]="
              '../../../../assets/img/' +
              charity.topic +
              '/' +
              charity.name +
              '.jpg'
            "
          />
        </div>
        <div class="content-container">
          <h3 class="title">{{ charity.name }}</h3>
          <p class="description">
            {{ charity.description }}
          </p>
          <p class="read-more">
            <a [href]="charity.websiteUrl">Read more</a>
          </p>
        </div>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
