<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      defaultHref=""
      (click)="goBack()"
      text=""
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="topic-list-container">
    <h1 class="title">{{ topic }}</h1>
    <div class="add-donation-container">
      <mat-form-field appearance="fill" class="donation-search">
        <mat-icon color="accent" matPrefix>search</mat-icon>
        <input matInput placeholder="search" autocomplete="off" />
      </mat-form-field>

      <ng-container *ngFor="let charity of charities">
        <ion-card class="charity-card" (click)="goToCharityDetails(charity)">
          <div class="image-container">
            <img
              [src]="
                '../../../../assets/img/' +
                charity.topic +
                '/' +
                charity.name +
                '.jpg'
              "
            />
          </div>
          <ion-card-content>
            <h3 class="title">{{ charity.name }}</h3>
            <p class="description">
              {{ charity.description }}
            </p>
            <p class="read-more">
              <a [href]="charity.websiteUrl">Read more</a>
            </p>
          </ion-card-content>
        </ion-card>
      </ng-container>
      <!-- <ng-container *ngIf="!charities.length">
      There are no causes associated with this topic.
    </ng-container> -->
    </div>
  </div>
</ion-content>
