@mixin app-browse-causes($theme) {
  .browse-container {
    padding: 0 0 10px 10px;

    .section-title {
      margin-top: $uxg-spacing-3;
    }

    .browse-search {
      width: 100%;

      .mat-form-field-flex {
        background: white !important;
      }
    }

    .browse-card {
      margin: $uxg-spacing-2 !important;
      text-align: center;
      cursor: pointer;

      ion-card-content {
        padding: 0;
      }
      .topic-icon {
        padding: $uxg-spacing-4;
        max-height: 100px;
      }
      .topic-title {
        white-space: nowrap;
        margin-top: -15px;
      }
    }
  }
}
