@mixin app-transaction-page($theme) {
  $primary: map-get($theme, primary);

  .donated-amount {
    color: mat-color($primary, default);
  }
  .donated-amount-container {
    color: mat-color($primary, default);
    margin: 0;
  }
  .data-container {
    flex: auto;
  }
  .charity-donation {
    cursor: pointer;
  }
}
