<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      defaultHref=""
      class="back-btn"
      text=""
      (click)="back()"
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="incognito-container">
    <h2 class="title">Incognito</h2>
    <p>
      iGive will take a set amount from your account every time you perform an
      action, with limits you can control
      <br />
      <br />
      eg take 25c every time you use your debit card
    </p>

    <h3 class="title">I want to donate</h3>
    <mat-form-field appearance="fill" dense class="incognito-fields">
      <mat-icon color="accent" matPrefix>attach_money</mat-icon>
      <input matInput placeholder="amount" type="number" autocomplete="off" />
    </mat-form-field>

    <h3 class="title">to {{ charity.name }} every time</h3>
    <mat-form-field appearance="fill" dense class="incognito-fields">
      <mat-label>select option</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <h3 class="title">with a maximum donation of</h3>
    <mat-form-field appearance="fill" dense class="incognito-fields">
      <mat-icon color="accent" matPrefix>attach_money</mat-icon>
      <input matInput placeholder="amount" type="number" autocomplete="off" />
    </mat-form-field>

    <h3 class="title">every</h3>
    <mat-form-field appearance="fill" dense class="incognito-fields">
      <mat-select value="month">
        <mat-option value="week">week</mat-option>
        <mat-option value="month">month</mat-option>
        <mat-option value="year">year</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ion-content>
