a {
  cursor: pointer;
}

* {
  font-family: "Typo Round", sans-serif;
  font-family: "Typo Round Regular Demo", sans-serif;
  // font-family: "Typo Round Thin Demo", sans-serif;
  // font-family: "Typo Round Light Demo", sans-serif;
  // font-family: "Typo Round Bold Demo", sans-serif;
}

ion-label {
  font-family: "Typo Round Regular Demo", sans-serif !important;
}
