/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/flex-layout/mq";

@import "./theme/helpers";
@import "./theme/base";

@import "~@ffdc/uxg-angular-theme/all-theme";
@import "~@ffdc/uxg-angular-theme/lib/core/style/spacing";

@import "./app/pages/donation-methods/donation-methods.theme";
@import "./app/pages/charity-details/charity-details.theme";
@import "./app/pages/add-donation/add-donation.theme";
@import "./app/pages/browse-causes/browse-causes.theme";
@import "./app/pages/browse-causes/topic-list/topic-list.theme";
@import "./app/pages/home/home.theme";
@import "./app/pages/user-preferences/user-preferences.theme";
@import "./app/pages/payment/bank-account/bank-account.theme";
@import "./app/pages/payment/paypal-account/paypal-account.theme";
@import "./app/pages/login/login.theme";
@import "./app/pages/register/register.theme";
@import "./app/pages/register/register.theme";
@import "./app/pages/user-profile/user-profile.page.scss";
@import "./app/pages/user-profile/profile/profile.component.scss";
@import "./app/pages/tabs/tabs.theme";
@import "./app/pages/filters/filters.theme";
@import "./app/pages/transactions/transactions.theme";

:root {
  --ion-background-color: white !important;
}

ion-header::after {
  background: none !important;
}

.tall-header {
  background: url("/assets/svg/tallheader.svg");
  height: 16%;
  background-repeat: no-repeat;
  padding: $uxg-spacing-4 $uxg-spacing-3 $uxg-spacing-3;
  background-size: 100% 100%;

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 14px;
  }

  &.large {
    background: url("/assets/svg/xtallheader.svg");
    height: 40%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

h1,
h2,
h3,
span,
.bold {
  font-weight: 600 !important;
}

.short-header {
  background: url("/assets/svg/shortheader.svg");
  background-repeat: no-repeat;
  padding: $uxg-spacing-2 $uxg-spacing-2 0;
  background-size: 100% 100%;
  min-height: 9%;

  .back-btn-container {
    display: initial !important;
  }

  .back-btn {
    width: 48px;
  }
}

.content {
  overflow-y: scroll;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
}

$custom-typography: mat-typography-config(
  $font-family: '"Comfortaa", sans-serif;',
);
@include mat-core($custom-typography);

@mixin app-theme($theme) {
  @include app-donation-method($theme);
  @include app-charity-details($theme);
  @include app-add-donation($theme);
  @include app-home($theme);
  @include app-user-preferences($theme);
  @include app-bank-account($theme);
  @include app-paypal-account($theme);
  @include app-login($theme);
  @include app-register($theme);
  @include app-browse-causes($theme);
  @include app-topic-list($theme);
  @include app-user-profile-page($theme);
  @include app-user-profile($theme);
  @include app-tabs($theme);
  @include app-filters($theme);
  @include app-transaction-page($theme);
}
@include app-theme($uxg-light-theme);
