<ion-content>
  <div
    class="register-page-content"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <ion-avatar>
      <img
        src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"
      />
    </ion-avatar>
    <h1>iGive</h1>
    <h2>Create an account</h2>
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>person_outline</mat-icon>
      <input
        matInput
        placeholder="first name"
        autocomplete="off"
        [(ngModel)]="credentials.firstName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>person_outline</mat-icon>
      <input
        matInput
        placeholder="last name"
        autocomplete="off"
        [(ngModel)]="credentials.lastName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>mail_outline</mat-icon>
      <input
        matInput
        placeholder="email"
        autocomplete="off"
        [(ngModel)]="credentials.email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>lock</mat-icon>
      <input
        matInput
        placeholder="password"
        autocomplete="off"
        type="password"
        [(ngModel)]="credentials.password"
      />
    </mat-form-field>
    <a class="link mt-3" [routerLink]="['/login']" routerLinkActive="active"
      >Already have an account? Log in</a
    >
  </div>
</ion-content>
