@mixin app-user-profile-page($theme) {
    .user-profile-header {
        height: 50%;
        ion-avatar {
            width: 100px;
            height: 100px;
            margin-top: 2rem;
            @include mat-elevation(12, white, 1);
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
}