<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      defaultHref=""
      text=""
      icon="arrow-back-circle-outline"
    ></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <h2 class="title">edit profile</h2>
  </ion-item>
  <div fxLayout="column" fxLayoutAlign="start center" class="mb-4">
    <ion-avatar>
      <img [src]="user.avatar" />
      <button class="edit-avatar-button">edit</button>
    </ion-avatar>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>person_outline</mat-icon>
      <mat-label>Display Name</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="user.displayName" />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>mail_outline</mat-icon>
      <mat-label>Email</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="user.email" />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="register-field">
      <mat-icon color="accent" matPrefix>lock</mat-icon>
      <mat-label>Password</mat-label>
      <input matInput autocomplete="off" type="password" [(ngModel)]="password" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="saveChanges()"
    >
      Save
    </button>
  </div>
</ion-content>
