<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      defaultHref="user-preferences"
      text=""
      icon="arrow-back-circle-outline"
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-item  lines="none">
    <h2 class="title" *ngIf="mode ==='EDIT'">edit bank details</h2>
    <h2 class="title" *ngIf="mode ==='ADD'">set up bank details</h2>
  </ion-item>
  <div class="bank-account" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" dense class="bank-field">
      <input
        matInput
        #email
        type="string"
        autocomplete="off"
        placeholder="Bank Name"
        [(ngModel)]="bankDetails.bankName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="bank-field">
      <input
        matInput
        autocomplete="off"
        placeholder="Bank Account Number"
        [(ngModel)]="bankDetails.accountNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="bank-field">
      <input
        matInput
        type="password"
        autocomplete="off"
        placeholder="Bank Account Access Code"
        [(ngModel)]="bankDetails.accessCode"
      />
    </mat-form-field>
    <button mat-flat-button (click)="save()" class="save-btn" color="primary">
      Save
    </button>
  </div>
</ion-content>
