<ion-header class="short-header"> </ion-header>

<ion-content>
  <ion-slides
    #preferencesSlides
    pager="false"
    [options]="slideOpts"
    (ionSlideDidChange)="updateSlideIndex()"
  >
    <ion-slide fxLayout="column" fxLayoutAlign="start center">
      <h2 class="slide-title">first, tell us what matters most to you</h2>

      <mat-form-field appearance="fill" class="user-preferences-search">
        <mat-icon color="accent" matPrefix>search</mat-icon>
        <input matInput placeholder="search" autocomplete="off" />
      </mat-form-field>

      <div fxLayout="row wrap" fxLayoutAlign="center start">
        <div
          fxFlex="40"
          *ngFor="let topic of topics"
          [class.selected]="topic.isSelected"
          class="topic-cards"
          (click)="selectTopic(topic.name)"
        >
          <ion-card-content>
            <img
              class="topic-icon"
              [alt]="topic.icon"
              [src]="'./../../../assets/svg/'+ topic.icon +'.svg'"
            />
            <p class="topic-title">{{ topic.name }}</p>
          </ion-card-content>
        </div>
      </div>
    </ion-slide>
    <ion-slide fxLayout="column" fxLayoutAlign="start center">
      <h2 class="slide-title">next, set some preferences</h2>
      <ion-list>
        <ion-item lines="none">
          <ion-label
            >Go Local<br />
            <p class="subtitle">
              Prioritize charities and causes that are close to me
            </p>
          </ion-label>
          <ion-toggle [(ngModel)]="goLocal"></ion-toggle>
        </ion-item>

        <ion-item lines="none">
          <ion-label
            >Optimize My Donation<br />
            <p class="subtitle">
              Priotitize charities and causes that make my money go further
              through matching ($1 donated means the charity gets $2)
            </p>
          </ion-label>
          <ion-toggle [(ngModel)]="optimizeDonation"></ion-toggle>
        </ion-item>

        <ion-item lines="none">
          <ion-label
            >Get Those Tax Returns<br />
            <p class="subtitle">
              Only show charities and causes that will provide a proof of
              donation for tax purposes
            </p></ion-label
          >
          <ion-toggle [(ngModel)]="taxReturns"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide fxLayout="column" fxLayoutAlign="start center">
      <h2 class="slide-title">Choose your payment method</h2>
      <div
        class="payment-card"
        *ngFor="let method of paymentMethod"
        [class.selected]="method.isSelected"
        (click)="selectPaymentMethod(method.name)"
      >
        <img
          class="bank-icon"
          [alt]="method.icon"
          [src]="'./../../../assets/svg/'+ method.icon +'.svg'"
        />
        <h3 class="topic-title">{{ method.name }}</h3>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="30" fxLayoutAlign="start center">
    <ion-item lines="none">
      <ion-button *ngIf="slideIndex !== 0" (click)="slides.slidePrev()">
        Back
      </ion-button>
    </ion-item>
  </div>
  <div fxFlex="40" fxLayoutAlign="center center">
    <ion-item lines="none">
      <span class="bullet" [class.active]="slideIndex===0"></span>
      <span class="bullet" [class.active]="slideIndex===1"></span>
      <span class="bullet" [class.active]="slideIndex===2"></span>
    </ion-item>
  </div>
  <div fxFlex="30" fxLayoutAlign="end center">
    <ion-item lines="none">
      <ion-button *ngIf="slideIndex !== 2" (click)="slides.slideNext()">
        Next
      </ion-button>
    </ion-item>
  </div>
</ion-footer>
