ion-slides {
  height: 100%;
  max-width: 100%;
  overflow-y: auto;

  .slide-title {
    margin-top: 3rem;
  }

  ion-card {
    cursor: pointer;
    ion-card-content {
        padding: 0;
    }
    .topic-icon {
      padding: 16px;
      max-height: 100px;
    }
    .topic-title {
        white-space: nowrap;
    }
    &.selected {
      border: 2px solid #3880ff;
    }
    &.payment-card {
        width: 80%;
    }
  }

  .subtitle {
      white-space: pre-wrap;
      margin-top: 8px;
  }
}
ion-footer {
    background: white;

    .bullet {
        margin: 0 4px;
        background: #ccc;
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        opacity: 0.2;
      
        &.active {
          background: #3880ff;
          opacity: 1;
        }
      }
}

