<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="round-up-container">
    <h2 class="title">Round Up</h2>
    <p>
      App will round up to the nearest dollar on every purchase made using your
      bank card and donate that money to the cause
      <br />
      <br />

      eg if you spent $4,80, iGive will donate 20c to round up the total to $5
    </p>

    <mat-radio-group
      [(ngModel)]="method"
      (change)="onChangeRoundUpMethod($event)"
      class="round-up-radio-group"
    >
      <mat-radio-button value="donate-goal" class="round-up-radio-btns"
        >Donate until the goal is met</mat-radio-button
      >
      <mat-radio-button value="donate-date" class="round-up-radio-btns"
        >Donate until a specific date</mat-radio-button
      >

      <mat-form-field appearance="fill" dense class="round-up-field">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="select date"
          autocomplete="off"
        />
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-radio-button value="donate-limit" class="round-up-radio-btns"
        >Donate until reach a limit of</mat-radio-button
      >

      <mat-form-field appearance="fill" dense class="round-up-field">
        <mat-icon color="accent" matPrefix>attach_money</mat-icon>
        <input matInput placeholder="amount" type="number" autocomplete="off" />
      </mat-form-field>
    </mat-radio-group>
  </div>
</ion-content>
