@import "./topic-card/topic-card.theme";

@mixin app-add-donation($theme) {
  .add-donation-container {
    padding: 0 10px;
  }

  .donation-search {
    width: 100%;

    .mat-form-field-flex {
      background: white !important;
    }
  }

  @include app-topic-card($theme);
}
