@import "./determined/determined.theme";
@import "./round-up/round-up.theme";
@import "./incognito//incognito.theme";

@mixin app-donation-method($theme) {
  .donation-methods-container {
    padding: 12px;

    .title {
      margin-top: 0;
      margin-bottom: 12px;
    }

    .subtitle {
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .donation-method {
    cursor: pointer;
    background: #92e7bd;
    padding: 12px;
    margin-bottom: 12px;
  }

  @include app-determined($theme);
  @include app-round-up($theme);
  @include app-incognito($theme);
}
