@import "./determined/determined.theme";
@import "./round-up/round-up.theme";
@import "./incognito//incognito.theme";
@import "./donation-notification/donation-notification.theme";

@mixin app-donation-method($theme) {
  .donation-methods-container {
    padding: 12px;

    .title {
      margin-top: 0;
      margin-bottom: $uxg-spacing-4 !important;
    }

    .subtitle {
      margin-top: 0;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: $uxg-spacing-1;
    }

    .method-description {
      font-family: "Comfortaa", sans-serif !important;
      font-size: 12px;
    }
  }

  .donation-method {
    cursor: pointer;
    background: url("../../../assets/svg/selectarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: $uxg-spacing-2;
    padding-right: $uxg-spacing-5;
  }

  .pay-btn {
    width: 100%;
  }

  @include app-determined($theme);
  @include app-round-up($theme);
  @include app-incognito($theme);
  @include app-notification($theme);
}
