<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      defaultHref="tabs/charity-details"
      text=""
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="donation-methods-container">
    <h2 class="title">Select donation method</h2>
    <div class="donation-method" (click)="goToRoundUpMethod()">
      <div class="subtitle">Round up</div>
      <p class="method-description">
        App will round up to the nearest dollar on every purchase made using
        your bank card and donate that money to the cause
      </p>
    </div>
    <div class="donation-method" (click)="goToIncognitopMethod()">
      <div class="subtitle">Incognito</div>
      <p class="method-description">
        App will take a set amount time you perform an action, with limits you
        can control eg take 25c every time you use your card
      </p>
    </div>
    <div class="donation-method" (click)="goToDeterminedMethod()">
      <div class="subtitle">Determined</div>
      <p class="method-description">
        Carefully select how much you want to donate to which charities, when
        you want to donate eg donate $25 each month
      </p>
    </div>
  </div>
</ion-content>
