@mixin app-welcome-page($theme) {
  .welcome {
    padding: 0 $uxg-spacing-2;

    .title {
      text-align: center;
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 48px;
      line-height: 20px;
      text-align: center;
    }

    .description {
      margin-top: $uxg-spacing-2;
    }

    .welcome-description {
      font-size: 18px;
      line-height: 24px;
    }

    .checkmark {
      width: 24px;
      height: 24px;
      margin-right: $uxg-spacing-3;
    }
    .start-btn {
      position: absolute;
      bottom: 5rem;
    }
  }
}
