<ion-header class="short-header"> </ion-header>

<ion-content>
  <div class="welcome">
    <h1 class="title uxg-h1">Welcome to iGive!</h1>
    <p class="subtitle">
      The app for donating when you don't want to think about it
    </p>

    <div fxLayout="row" fxLayoutAlign="start center" class="description">
      <img
        class="checkmark"
        alt="checkmark"
        src="./../../../../assets/svg/checkmark.svg"
      />
      <p class="welcome-description">
        donate every time you make a purchase by rounding up to the nearest
        dollar and donating the difference
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="description">
      <img
        class="checkmark"
        alt="checkmark"
        src="./../../../../assets/svg/checkmark.svg"
      />
      <p class="welcome-description">
        tell us what causes you care about and we’ll show you the best way to
        support it
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="description">
      <img
        class="checkmark"
        alt="checkmark"
        src="./../../../../assets/svg/checkmark.svg"
      />
      <p class="welcome-description">
        see the difference! get updates directly from the cause you’re supporing
        about the difference being made
      </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button
        mat-flat-button
        (click)="getStarted()"
        color="primary"
        class="start-btn"
      >
        Get Started
      </button>
    </div>
  </div>
</ion-content>
