<ion-content>
  <div class="welcome">
    <h1>Welcome to iGive!</h1>
    <h6>The app for donating without having to think about it</h6>

    <div fxLayout="row" fxLayoutAlign="start center">
      <img
        class="checkmark"
        alt="checkmark"
        src="./../../../../assets/svg/checkmark.svg"
      />
      <p>
        Donate every time you make a purchase by rounding up to the nearest
        dollar and donating the difference
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img
        class="checkmark"
        alt="checkmark"
        src="./../../../../assets/svg/checkmark.svg"
      />
      <p>
        Choose the charities and causes that matter most to you, whether they be
        local or global
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img
        class="checkmark"
        alt="checkmark"
        src="./../../../../assets/svg/checkmark.svg"
      />
      <p>
        See the real impact your donations are making with updates directly from
        the cause you're supporting
      </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <ion-item lines="none" class="start-btn">
        <ion-button (click)="getStarted()"> Get Started </ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>
