@mixin app-welcome-page($theme) {
  .welcome {
    padding: 0 $uxg-spacing-3;

    .title {
      text-align: center;
      margin-top: $uxg-spacing-3;
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 48px;
      line-height: 20px;
      text-align: center;
    }

    .description {
      margin-bottom: $uxg-spacing-3;

      .ri-checkbox-circle-line {
        font-size: 32px;
        color: #26d07c;
        margin-right: 8px;
      }

      .welcome-description {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
      }
    }

    .start-btn {
      position: absolute;
      bottom: 5rem;
    }
  }
}
