<ion-content>
  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="browse" (click)="openTab('browse', $event)">
        <ion-icon name="hand-right-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button> </ion-tab-button>

      <ion-tab-button tab="transactions">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<ion-fab
  vertical="bottom"
  horizontal="center"
  slot="fixed"
  (click)="goToRegisterDonation()"
>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
