<ion-content>
  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom" class="tab-bar" selectedTab="browse">
      <ion-tab-button
        tab="home"
        class="tab-button"
        (click)="openTab('home', $event)"
      >
        <i class="ri-home-2-line tab-icon"></i>
      </ion-tab-button>

      <ion-tab-button
        selectedTab
        tab="browse"
        (click)="openTab('browse', $event)"
        class="tab-button"
      >
        <i class="ri-hand-heart-line tab-icon"></i>
      </ion-tab-button>

      <ion-tab-button> </ion-tab-button>

      <ion-tab-button
        tab="transactions"
        class="tab-button"
        (click)="openTab('transactions', $event)"
      >
        <i class="ri-money-dollar-box-line tab-icon"></i>
      </ion-tab-button>

      <ion-tab-button
        tab="profile"
        class="tab-button"
        (click)="openTab('profile', $event)"
      >
        <i class="ri-user-3-line tab-icon"></i>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<ion-fab
  class="add-button"
  vertical="bottom"
  horizontal="center"
  [ngClass]="{'selected': isActive,  'hide': hideFabButton}"
  (click)="goToRegisterDonation()"
>
  <ion-fab-button>
    <i class="ri-add-circle-line icon"></i>
  </ion-fab-button>
</ion-fab>
