<ion-content>
  <div class="home-header">
    <h2>Hi, {{currentUser.firstName}}!</h2>
    <p>Let's change the world today.</p>
    <h3><b>Updates</b></h3>
  </div>

  <ng-container *ngFor="let charity of charities">
    <ion-card class="charity-card">
      <div class="image-container">
        <img src="./../../../assets/png/x.png" class="charity-image" />
      </div>
      <ion-card-header>
        <ion-card-title>$10.000 goal reached</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <b>{{charity.name}}</b> <br />{{charity.description}}
        <br />
        <br />
        <p class="charity-impact">
          <a [href]="charity.websiteUrl">Read about the impact ></a>
        </p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
