<ion-header class="tall-header">
  <h1 class="title">Hi, {{currentUser.firstName}}!</h1>
  <p>Let's change the world today.</p>
</ion-header>

<div class="content">
  <div class="title">
    <h2>Your Updates</h2>
  </div>
  <ng-container *ngFor="let charity of charities">
    <ion-card class="charity-card">
      <div class="image-container">
        <img
          [src]='"../../../assets/img/" + charity.topic + "/" + charity.name + ".jpg"'
          class="charity-image"
        />
      </div>
      <div class="content-container">
        <!-- <p>$10,000 goal reached!</p> -->
        <p>{{charity.description}}</p>
        <p class="charity-impact">
          <a [href]="charity.websiteUrl">Read more</a>
        </p>
      </div>
    </ion-card>
  </ng-container>
</div>
