<ion-content>
  <div
    class="login-page-content"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <ion-avatar class="login-avatar">
      <img src="../../../assets/png/logolarge.png" class="logo" />
      <h1 class="app-name">iGive</h1>
    </ion-avatar>
    <h3>login</h3>
    <mat-form-field appearance="fill" dense class="login-field">
      <mat-icon color="accent" matPrefix>mail_outline</mat-icon>
      <input
        matInput
        placeholder="email"
        autocomplete="off"
        [(ngModel)]="credentials.email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="login-field">
      <mat-icon color="accent" matPrefix>lock</mat-icon>
      <input
        matInput
        placeholder="password"
        autocomplete="off"
        type="password"
        [(ngModel)]="credentials.password"
      />
    </mat-form-field>
    <button mat-stroked-button color="accent" (click)="login()">Login</button>
    <a class="link mt-3" [routerLink]="['/register']" routerLinkActive="active"
      >Don't have an account? Register</a
    >
  </div>
</ion-content>
