<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="saveChanges()">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Push Notifications</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item lines="none" detail="false">
          <ion-label>Charity updates</ion-label>
          <ion-select interface="action-sheet" [(ngModel)]="notifications.charityUpdates">
            <ion-select-option value="enable">Enable</ion-select-option>
            <ion-select-option value="mute">Mute</ion-select-option>
            <ion-select-option value="mute-week">Mute for a week</ion-select-option>
            <ion-select-option value="mute-year">Mute for a year</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Other Notification Types</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item lines="none" detail="false">
          <ion-label>Email</ion-label>
          <ion-toggle [(ngModel)]="notifications.email"></ion-toggle>
        </ion-item>
        <ion-item lines="none" detail="false">
          <ion-label>SMS</ion-label>
          <ion-toggle [(ngModel)]="notifications.sms"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-item-group>
</ion-content>