<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      defaultHref=""
      (click)="saveChanges()"
      text=""
      icon="arrow-back-circle-outline"
    ></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <h2 class="title">notifications</h2>
  </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>push notifications</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item lines="none" detail="false">
          <ion-label>Charity updates</ion-label>
          <mat-form-field appearance="stroke" class="updates-select">
            <select matNativeControl [(ngModel)]="notifications.charityUpdates">
              <option value="enable" selected>Enable</option>
              <option value="mute">Mute</option>
              <option value="mute-week" >Mute for a week</option>
              <option value="mute-year">Mute for a year</option>
            </select>
          </mat-form-field>
        </ion-item>
      </ion-list>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>other notification types</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item lines="none" detail="false">
          <ion-label>Email</ion-label>
          <ion-toggle [(ngModel)]="notifications.email"></ion-toggle>
        </ion-item>
        <ion-item lines="none" detail="false">
          <ion-label>SMS</ion-label>
          <ion-toggle [(ngModel)]="notifications.sms"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-item-group>
</ion-content>