@mixin app-login($theme) {
  $accent: map-get($theme, accent);

  .login-page-content {
    background: url("/assets/svg/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    .login-avatar {
      height: 124px;
      width: 124px;
      margin-top: -5rem !important;
      margin-bottom: 6rem !important;
      text-align: center;

      .logo {
        margin-bottom: $uxg-spacing-3;
      }

      .app-name {
        font-size: 32px;
      }
    }

    .login-field {
      width: 85%;
      .mat-form-field-flex {
        background: #d4f5e5 !important;
      }
    }

    .link {
      color: mat-color($accent, default);
    }
  }
}
