@mixin app-paypal-account($theme) {
  .paypal-account {
    .paypal-field {
      width: 85%;
    }
    .payment-title {
      margin-top: $uxg-spacing-3;
      margin-bottom: $uxg-spacing-5;
    }
    .save-btn {
      position: absolute;
      bottom: 5rem;
    }
  }
}
