<ion-header class="short-header">
  <ion-buttons slot="start" class="back-btn-container">
    <ion-back-button
      class="back-btn"
      text=""
      icon="arrow-back-circle-outline"
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-item  lines="none">
    <h2 class="title" *ngIf="mode ==='EDIT'">edit paypal details</h2>
    <h2 class="title" *ngIf="mode ==='ADD'">set up paypal</h2>
  </ion-item>
  <div class="paypal-account" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" dense class="paypal-field">
      <input
        matInput
        autocomplete="off"
        placeholder="Account Number"
        [(ngModel)]="paypalDetails.accountNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" dense class="paypal-field">
      <input
        matInput
        type="password"
        autocomplete="off"
        placeholder="PayPal Access Code"
        [(ngModel)]="paypalDetails.accessCode"
      />
    </mat-form-field>
    <button mat-flat-button (click)="save()" class="save-btn" color="primary">
      Save
    </button>
  </div>
</ion-content>
