<div class="topic-container">
  <div class="topic">
    <p>{{ topic }}</p>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let charity of charities">
      <ion-card class="charity-card" (click)="goToCharityDetails(charity)">
        <div class="topic-image-container">
          <img
            [src]='"../../../../assets/img/" + charity.topic + "/" + charity.name + ".jpg"'
            class="charity-image"
          />
        </div>
        <div class="topic-content-container">
          <p class="bold title">{{ charity.name }}</p>
          <p class="description">
            {{ charity.description }}
          </p>
          <p class="read-more"><a [href]="charity.websiteUrl">Read more</a></p>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
