<ion-header class="tall-header large">
  <div class="user-profile-header" fxLayout="column" fxLayoutAlign="center center">
    <ion-avatar class="user-profile-avatar">
      <img [src]="avatar" />
    </ion-avatar>
    <h3 class="mt-2 mb-0">{{ displayName }}</h3>
    <a [routerLink]="['info']"  class="mt-0">edit profile</a>
  </div>
</ion-header>
<ion-content>
  <div
    class="user-profile-content"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    
    <ion-list class="full-width pl-3 pr-3">
      <ion-item
        detail="true"
        lines="none"
        *ngFor="let item of settings"
        button
        (click)="goTo(item.route)"
      >
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
      <ion-item
        detail="true"
        lines="none"
        button
        (click)="logout()"
      >
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="copyright">Made with ❤️ by Tyro (©) 2020</div>
</ion-content>
